* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #34485c;
  --second-color: #325f7e;
  --background-color: #f4f6f9;
  --white: #ffffff;
  --border-color: #b4bfc5;
  --label-color: #082034;
  --select-color: #345d81;
  --option-color: #999;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--background-color);
}
header {
  background-color: var(--main-color);
  color: var(--white);
  text-align: center;
  padding: 20px;
}

header h1 {
  margin-bottom: 10px;
}
main {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
}
section {
  background-color: var(--white);
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
section h2 {
  margin-bottom: 20px;
  color: var(--main-color);
}
.student-form form {
  display: flex;
  flex-direction: column;
}
.student-form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--label-color);
}
.student-form select {
  color: var(--select-color);
  cursor: pointer;
}
.student-form select option:first-child {
  color: var(--option-color);
}
.student-form input,
.student-form select {
  padding: 16px 10px;
  margin-bottom: 18px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  font-size: 14px;
}
.btn-add {
  margin-top: 20px;
  padding: 16px 10px;
  background-color: var(--main-color);
  color: white;
  border: none;
  font-size: 17px;
  font-weight: bold;
  border-radius: 13px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-add:hover {
  background-color: var(--second-color);
  transform: scale(1.02);
}
.student-form input:focus,
.student-form select:focus,
.controls input:focus,
.controls select:focus {
  outline: none;
  border-color: #1e3d59;
  box-shadow: 0 0 5px rgba(30, 61, 89, 0.2);
}
.controls {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}

.controls input,
.controls select {
  flex: 1;
  padding: 16px 10px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  font-size: 14px;
  color: var(--select-color);
  cursor: pointer;
}
